.report-specific-filter-team-member-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.report-specific-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.report-specific-filter-title-text {
    font-size: 20px;
    font-weight: bold;
    color: #5A5957;
    padding-bottom: 4px;
}

.report-specific-filter-select {
    width: 130px;
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    padding: 5px;
    font-size: 14px;
}

.report-specific-select-sprint-container {
    margin-top: 10px;
}